* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

   
}

.container {
    max-width: 100%;
    min-height: 100vh;
    background: black;
    padding: 10px;
    position: relative;
}




.todo-app {
    max-width: 540px;
    background: white;
    width: 100%;
    margin: 100px auto 20px; /* Top 100px , left and rigth , bottom*/
    padding: 40px 30px 70px;
    border-radius: 10px;
}


.todo-app h2 {
    height: 0;
    width: 100%;
    display: flex;
    align-items: center;
    color: #002765;
    margin-bottom: 20px;
    justify-content: center;
}

.todo-app h2 img {
    width: 43px;
    margin-left: 10px;
    align-items: center;
    margin-bottom: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.row button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url("images/unchecked.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    top: 12px;
    left: 8px;

}
ul li.checked {
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url("images/checked.png");
    
}
li span{
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 2.2rem;
    color: #fffefe;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}   
ul li span:hover{
    background: #edeef0;
}
.shinchan{
    display: flex;
    justify-content: end;
    padding: 15px;
    width: 100vw; 
    position: fixed;
    bottom: 0;
    animation: imgGif 20s linear infinite;
    background: repeat-x;

}
.shinchan img{
    height: 200px;
}
@keyframes imgGif 
{
    100%{
        transform: translateX(-1500px);
    }
    0%{
        transform: translateX(10x);
    }
}